commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/composer_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      docker run --rm -v /var/app/current/nashphp:/app composer/composer install --no-dev
      ls -al /var/app/current/nashphp
      chmod -R 777 /var/app/current/nashphp
      docker run -v /var/app/current/nashphp:/app php:7-cli /app/artisan key:generate